<div class="panel panel-default">
    <div class="panel-heading">修改库存商品</div>
    <div class="panel-body">
        <form id="order-alert-form">
            <input id="id" name="id" th:value="${order.id}" type="hidden">
            <div class="form-group">
                <label>订单类型：</label>
                <input class="form-control" name="ordertype" th:value="${order.ordertype}" id="ordertype"></input>
            </div>
            <div class="form-group">
                <label>订单编号：</label>
                <input class="form-control" name="ordernumber" th:value="${order.ordernumber}" id="ordernumber"></input>
            </div>
            <div class="form-group">
                <label>客户名称：</label>
                <input class="form-control" name="clientname" th:value="${order.clientname}" id="clientname"></input>
            </div>
            <div class="form-group">
                <label>客户联系电话：</label>
                <input class="form-control" name="contact" th:value="${order.contact}" id="contact"></input>
            </div>
            <div class="form-group">
                <label>客户要求发货时间：</label>
                <input class="form-control" name="clientdeliverytime" th:value="${order.clientdeliverytime}" id="clientdeliverytime"></input>
            </div>
            <div class="form-group">
            <label>工厂交货时间：</label>
                <input class="form-control" name="factorydeliverytime" th:value="${order.factorydeliverytime}" id="factorydeliverytime"></input>
            </div>
            <div class="form-group">
                <label>送货地址：</label>
                <input class="form-control" name="address" th:value="${order.address}" id="address"></input>
            </div>
            <div class="form-group">
                <label>退货重镀原因：</label>
                <input class="form-control" name="reason" th:value="${order.reason}" id="reason"></input>
            <div class="form-group">
                <label>订单创建时间：</label>
                <input class="form-control" name="createdate" th:value="${order.createdate}" id="createdate"></input>
            </div>
            <div class="form-group">
                <label>订单更新时间：</label>
                <input class="form-control" name="updatedate" th:value="${order.updatedate}" id="updatedate"></input>
            </div>
        </form>
        <div class="page-header part_header">
            <h1>
                <small>商品详情</small>
            </h1>
        </div>
        <div class="panel-body">
            <!--<table width="100%"
                   class="table table-striped table-bordered table-hover" id="order-list-fake">
                <tr>
                    <th>品名规格颜色</th>
                    <th>单位</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>总价</th>
                    <th>工厂</th>
                    <th>实际收货数量</th>
                </tr>
            </table>-->
            <table width="100%"
                   class="table table-striped table-bordered table-hover" id="order-list">
                <thead>
                <tr>
                    <th>品名规格颜色</th>
                    <th>单位</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>总价</th>
                    <th>工厂</th>
                    <th>实际收货数量</th>
                </tr>
                <tr hidden>
                    <th>name_spec_color</th>
                    <th>unit</th>
                    <th>price</th>
                    <th>amount</th>
                    <th>total</th>
                    <th>factoryid</th>
                    <th>actual_take_amount</th>
                </tr>
                </thead>
                <tbody id="tbody-order-list">
                <tr th:each="orderdetail : ${orderdetails}">
                    <td th:text="${orderdetail.id}" hidden></td>
                    <td th:text="${orderdetail.orderid}" hidden></td>
                    <td th:text="${orderdetail.name_spec_color}"></td>
                    <td th:text="${orderdetail.unit}"></td>
                    <td th:text="${orderdetail.price}"></td>
                    <td class="amount" th:text="${orderdetail.amount}"></td>
                    <td th:text="${orderdetail.total}"></td>
                    <td th:text="${orderdetail.factoryid}"></td>
                    <td class="aaa"><input class="form-control" name="actual_take_amount"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary" onclick="updateOrder()">保存</button>
    </div>
</div>

<script type="text/javascript">
    $(".aaa input").keyup(function (){
    var actual = Number($(this).val());
    var amount = Number($(this).parent().parent().find(".amount").html());
    if(actual>amount){
        alert("实际收货数量不能大于该订单商品数量！")
        $(this).val("").focus();
        }
    });

    function updateOrder(){
        var orderVO = new Object();
        orderVO = {
            id : $("#order-alert-form").find("#id").val()
        };

        var orderDetailVOList=[];
        var trArr = $("#tbody-order-list").find("tr");
        trArr.each(function () {
            var orderDetail = new Object();
            var tdArr = $(this).children();
            orderDetail = {
                id : tdArr.eq(0).html(),
                orderid : tdArr.eq(1).html(),
                name_spec_color : tdArr.eq(2).html(),
                unit : tdArr.eq(3).html(),
                price : tdArr.eq(4).html(),
                amount : tdArr.eq(5).html(),
                total : tdArr.eq(6).html(),
                factoryid : tdArr.eq(7).html(),
                actual_take_amount : tdArr.eq(8).find("input").val()
            };
            orderDetailVOList.push(orderDetail);
        });

        console.log(orderVO);
        console.log(orderDetailVOList);
        var orderModel = {
            orderVO :orderVO,
            orderDetailVOList : orderDetailVOList
        };
        $.ajax({
            type: "POST",
            url: "/order/updateOrder",
            data: JSON.stringify(orderModel),
            dataType: "json",
            async: false,
            contentType:"application/json",
            context: document.body,
            success: function (data) {
                //alert(data);
                $("#myModal").click();
                initData();
            },
            error: function (data) {
                // 提示新增失败
            }
        });
    }
</script>