
<div class="panel-body">

	<div class="form-group">
		<label>订单类型：</label> <input class="radio_btn" type="radio" name="sex"
			value="male" checked>工厂订单 <input class="radio_btn"
			type="radio" name="sex" value="female">电镀厂订单
	</div>
	<div class="form-group">
		<label>订单编号：</label> <input class="form-control"
			name="name_spec_color">
	</div>
	<div class="form-group">
		<label>客户名称：</label> <input class="form-control" name="amount">
	</div>
	<div class="form-group">
		<label>客户要求发货时间：</label> <input class="form-control" name="amount">
	</div>
	<div class="form-group">
		<label>工厂交货时间：</label> <input class="form-control" name="amount">
	</div>
	<div class="form-group">
		<label>客户联系电话：</label> <input class="form-control" name="amount">
	</div>
	<div class="form-group">
		<label>送货地址：</label> <input class="form-control" name="amount">
	</div>
	<div class="form-group">
		<label>退货重镀原因：</label> <input class="form-control" name="amount">
	</div>

	<div class="order_table table-responsive">
		<div class="page-header part_header">
			<h1>
				<small>商品详情</small>
			</h1>
		</div>
		<!-- ======================================================================================== -->
		<div class="panel-body">

			<form id="testform">
				<div class="form-group">
					<label>品名规格颜色：</label> <input class="form-control" name="a">
					<label>单位：</label> <input class="form-control" name="b">
					<label>单价：</label> <input class="form-control" name="c">
					<label>数量：</label> <input class="form-control" name="c">
					<label>总价：</label> <input class="form-control" name="c">
					<label>工厂：</label> <input class="form-control" name="c">
					</div>
			</form>
			<button id="add" type="button" class="btn btn-primary"
				onclick="test()">add</button>
		</div>
		<div class="panel-heading">List</div>
		<div class="panel-body">
			<table width="100%"
				class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>品名规格颜色</th>
						<th>单位</th>
						<th>单价</th>
						<th>数量</th>
						<th>总价</th>
						<th>工厂</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="list-tbody"></tbody>
			</table>
		</div>
		<!-- ======================================================================================== -->
	</div>
	<div class="save_btn_container">
		<button class="btn btn-success btn-lg">保存</button>
	</div>
</div>

<style type="text/css">
.form-control {
	width: 80%
}
</style>
<script>
    function test() {
        var form = $("#testform").serializeObject();
        let dom = `
        <tr>
            <td>${form.a}</td>
            <td>${form.b}</td>
            <td>${form.c}</td>
            <td>${form.a}</td>
            <td>${form.b}</td>
            <td>${form.c}</td>
            <td>
                <button class="fa fa-trash-o" onclick="deletedom(this);"></button>
            </td>
        </tr>
        `;
        $("#list-tbody").append(dom);
    }

    function deletedom(dom) {
        $(dom).parent().parent().remove();
    }

</script>