<div class="panel panel-default">
    <div class="panel-heading">新增用户</div>
    <div class="panel-body">
        <form id="user-add-form">
            <div class="form-group">
                <label>账户类型：</label>
                <label class="radio-inline">
                    <input type="radio" name="accounttype" value="1" checked="">店
                </label>
                <label class="radio-inline">
                    <input type="radio" name="accounttype" value="2">仓库
                </label>
                <label class="radio-inline">
                    <input type="radio" name="accounttype" value="3">厂家
                </label>
                <label class="radio-inline">
                    <input type="radio" name="accounttype" value="4">电镀厂
                </label>
            </div>
            <div class="form-group">
                <label>用户编码：</label>
                <input class="form-control" name="userid" id="userid">
            </div>
            <div class="form-group">
                <label>密码：</label>
                <input class="form-control" name="password" id="password" type="password">
            </div>
            <div class="form-group">
                <label>确认密码：</label>
                <input class="form-control" name="confirmpassword" id="confirmpassword" type="password">
            </div>
            <div class="form-group">
                <label>负责人名称：</label>
                <input class="form-control" name="managername" id="managername">
            </div>
            <div class="form-group">
                <label>公司名称：</label>
                <input class="form-control" name="companyname" id="companyname">
            </div>
            <div class="form-group">
                <label>联系电话：</label>
                <input class="form-control" name="contact" id="contact">
            </div>
            <div class="form-group">
                <label>地  址：</label>
                <input class="form-control" name="address" id="address">
            </div>
        </form>
    </div>

    <div class="panel-footer">
        <button type="button" class="btn btn-primary" id="user-add">保存</button>
    </div>
</div>
<script>
    $("#user-add-form .form-group input").blur(function () {
        if ($(this).attr("type") == "password") {
            if ($("#password").val() != $("#confirmpassword").val()) {
                $("#password").parent().addClass("has-error");
                $("#confirmpassword").parent().addClass("has-error");
                return;
            } else {
                $("#password").parent().removeClass("has-error");
                $("#confirmpassword").parent().removeClass("has-error");
            }
        }
        if ($(this).val() == null || $(this).val() == "") {
            $(this).parent().addClass("has-error");
        } else {
            $(this).parent().removeClass("has-error");
        }
    });

    $("#user-add").click(function () {
        if ($("#password").val() != $("#confirmpassword").val()) {
            alert("两次输入密码不一致！");
            return;
        }
        var inputArr = $("#user-add-form div").find("input");
        for (var i = 0;i < inputArr.length;i++) {
            var label = $(inputArr[i]).parent().find("label")[0];
            if($(inputArr[i]).val() == ''){
                alert(label.innerHTML + '不能为空！');
                return false;
            }
        }
        var userVO = $("#user-add-form").serializeObject();// 序列化表单内容
        $.ajax({
            type: "PUT",
            url: `/users/user`,
            data: userVO,
            dataType: "json",
            async: false,
            context: document.body,
            success: function (data) {
                if (data) {
                    alert("新增成功！");
                    $("#myModal").click();
                    $("#user-query").click();
                }
            },
            error: function (data) {
                // 提示新增失败
            }
        });
    });

</script>
