<div class="panel panel-default">
    <div class="panel-heading">新增库存</div>
    <form id="testForm">
    <div class="panel-body">
        <div class="form-group">
            <label>商品名称：</label>
            <input class="form-control" name="name_spec_color">
        </div>
        <div class="form-group">
            <label>数量：</label>
            <input class="form-control" name="amount">
        </div>
    </div>
    </form>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary" onclick="test();">保存</button>
    </div>
</div>

<script type="text/javascript">

function test(){
	var form = new FormData(document.getElementById("testForm"));
	$.ajax({
        url:`/storehouse/storehouseSave`,
        type:"post",
        data:form,
        processData:false,
        contentType:false,
        success:function(data){
            console.log("over..");
        },
        error:function(e){
            alert("错误！！");
        }
    });        
}
</script>