<div class="panel panel-default">
	<div class="panel-heading">修改库存商品</div>
	<div class="panel-body">
		<form id="storehouse-alter-form">
			<input id="id" name="id" th:value="${storehouse.id}" type="hidden">
			<div class="form-group">
				<label>商品名称：</label> <input class="form-control" name="name_spec_color" th:value="${storehouse.name_spec_color}" id="name_spec_color">
			</div>
			<div class="form-group">
				<label>数量：</label> <input class="form-control" name="amount" th:value="${storehouse.amount}" id="amount">
			</div>
		</form>
	</div>
	<div class="panel-footer">
		<button type="button" class="btn btn-primary" id="storehouse-alter">保存</button>
	</div>
</div>
<script>
	$("#storehouse-alter").click(function() {
		var storehouseVO = $("#storehouse-alter-form").serializeObject();// 序列化表单内容
		$.ajax({
			type : "POST",
			url : `/storehouse/update`,
			data : storehouseVO,
			dataType : "json",
			async : false,
			context : document.body,
			success : function(data) {
				if (data) {
					alert("修改成功！");
					$("#myModal").click();
					initData();
				}
			},
			error : function(data) {
				// 提示新增失败
			}
		});
	});
</script>